/* Global styling */
*{
  padding: 0;
  margin: 0;
}

/* Elements */
ul{
  list-style-type: none;
}

span{
  font-weight: bold;
}

img{
  width: 300px;
  margin: 10px 0;
}

/* Classes */
.animal-info{
  padding: 10px;
  border: 1px lightgray solid;
}

/* IDs */
#container{
  border: 1px lightgray solid;
  padding: 10px;
  margin: 0 auto;
  max-width: 300px;
}

#interesting-fact{
  font-style: italic;
}
